-   repo: git@github.com:pre-commit/pre-commit-hooks
    sha: 18d7035de5388cc7775be57f529c154bf541aab9
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: name-tests-test
        args:
        - --django
    -   id: pretty-format-json
        args:
        - --autofix
        - --indent=2
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace
-   repo: git://github.com/guykisel/prospector-mirror
    sha: 00fbd80101566b1b9c873c71f2ab7b95b8bd0a7d
    hooks:
    -   id: prospector
        args:
        - --profile-path=.prospector.yaml
